.header {
    background-color: darkgreen;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.header a {
    text-decoration: none;
    color: white;
}